{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<style>
    .text-block {
        font-family: Calibri;
        color: white;
        font-size:60px;
        margin-left:130px;
        margin-top:150px;
    }
    .text-block1 {
        font-family: Calibri;
        color: white;
        font-size:60px;
        margin-left:50px;
    }
    .text-block2 {
        font-family: Times New Roman;
        color: white;
        font-size:40px;
        margin-left:50px;
    }
    .text-block3 {
        font-family: Times New Roman;
        color: white;
        font-size:25px;
        margin-left:50px;
    }
    body {
  background: #d6eaf8;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 20px 30px;
  margin: 10px 60px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ffffff 0%, #cccccc 25%, #aaaaaa 50%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}
    body{
    background-color: #000000;
    }

</style>
    <div class="text-block"><b>Data Studio</b> - ваш путь </div>
    <div class="text-block1">в мир синтетических данных.</div><br>
    <a href="" class="gradient-button">Приступить к созданию</a>
    <a href="" class="gradient-button">Смотреть шаблоны</a>
    <br><br><br><br><br>
    <hr size="5" width=99.9% color="#ffffff"><br>
    <p><img src="https://vesti-k.ru/i/e6/e6e7728987fbc7fccd6017578747a1ee.jpg" style="width:300px; height: 150px" align="right"></p><br>
    <div class="text-block2">Про нас:</div><br>
    <div class="text-block3">
        Мы предоставляем вам платформу для создания синтетических датасетов данных для ваших проектов.
    </div>
    <hr size="0" style="margin-top: 3%">
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 40px; width: 40%">
    Синтетические данные — важный инструмент в машинном обучении и анализе данных, создаваемый с помощью алгоритмов, имитирующих реальные.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    Существует несколько способов создания синтетических данных:</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    1. Генеративные модели, такие как GAN и VAE, создающие высококачественные данные.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 0px; width: 40%">
    2. Правила генерации с использованием латентных переменных и статистических моделей.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 0px; width: 40%">
    3. Симуляция, создающая данные о поведении реальных систем.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    Преимущества синтетических данных:</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    1. Конфиденциальность: отсутствие личной информации.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 0px; width: 40%">
    2. Доступность: создание данных по запросу.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 0px; width: 40%">
    3. Автоматизация: автоматическое создание данных для обучения моделей.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    Синтетические данные используются для:</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    1. Обучения моделей.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 0px; width: 40%">
    2. Тестирования систем.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 0px; width: 40%">
    3. Улучшения устойчивости моделей.</div>
<div class="text-block" style="font-size: 20px; font-family: Calibri; margin-left: 50px; margin-top: 15px; width: 40%">
    Синтетические данные открывают новые возможности в анализе данных и машинном обучении, обеспечивая безопасность, доступность и разнообразие. Они могут помочь компаниям стать более конкурентоспособными.</div>
{% endblock %}


